In [1]:
# Imports and Dependencies
import pandas as pd
nfa_data = pd.read_csv("NFA_2019_public_data.csv")

C:\Users\mrjac\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
# Creating country, year, and carbon emissions dataframe for the selected years.
nfa_data = nfa_data[['country','year','carbon']]
nfa_data1990 = nfa_data[nfa_data['year'] == 1990]
nfa_data2000 = nfa_data[nfa_data['year'] == 2000]
nfa_data2010 = nfa_data[nfa_data['year'] == 2010]

# Creating combined dataset.
combined_years = ((nfa_data1990.append(nfa_data2000)).append(nfa_data2010))

# Dropping from country names.
combined_years = combined_years[combined_years['country'] != 'World']

# Reseting index values.
combined_years = combined_years.set_index("country").reset_index()

In [3]:
# Calculating potentially important variables for merging with UN dataset.

# Number of countries.
countries_number = len(combined_years['country'].unique())

# Alphabetical list of countries.
countries_list = sorted(combined_years['country'].unique())

# Prints variables.
print(f"Number of Unique Country Names: {countries_number}")
print(f"\nList of Unique Country Names: \n{countries_list}")

Number of Unique Country Names: 186

List of Unique Country Names:
['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Cayman Islands', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Congo, Democratic Republic of', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Czechoslovakia', "Côte d'Ivoire", 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia', 'Ethiopia PDR', 'Fiji', 'Finland', 'France', 'French Guiana', 'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guadeloupe', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'India', 'Indonesia', 'Iran, Islamic Republic of', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', "Korea, Democratic People's Republic of", 'Korea, Republic of', 'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libyan Arab Jamahiriya', 'Lithuania', 'Luxembourg', 'Macedonia TFYR', 'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Malta', 'Martinique', 'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russian Federation', 'Rwanda', 'Réunion', 'Saint Lucia', 'Samoa', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Serbia and Montenegro', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan (former)', 'Suriname', 'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'Tanzania, United Republic of', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'USSR', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States of America', 'Uruguay', 'Uzbekistan', 'Venezuela, Bolivarian Republic of', 'Viet Nam', 'Yemen', 'Yugoslav SFR', 'Zambia', 'Zimbabwe']

In [15]:
# Countries that may need renaming or removal.
iffy = [] 
clear = []
reason = []
i = 0
commas = 0
spaces = 0
hyphens = 0
for name in countries_list:
    if "," in name:
        iffy.append(name)
        reason.append(1)
        commas += 1
    elif " " in name:
        iffy.append(name)
        reason.append(2)
        spaces += 1
    elif "-" in name:
        iffy.append(name)
        reason.append(3)
        hyphens += 1
    else:
        clear.append(name)
        
print(f"Iffy Countries: {len(iffy)}\n{commas} Commas, {spaces} Spaces, {hyphens} Hyphens\n-------------------\nCountry   ---   Reason\n-----------------------\n")
for name in iffy:
    if reason[i] == 1:
        print(f'{i}. {iffy[i]}\n--- Comma\n')
    elif reason[i] == 2:
        print(f'{i}. {iffy[i]}\n--- Space\n')
    elif reason[i] == 3:
        print(f'{i}. {iffy[i]}\n--- Hyphen\n')
    i += 1

Iffy Countries: 45
6 Commas, 37 Spaces, 2 Hyphens
-------------------
Country   ---   Reason
-----------------------

0. Antigua and Barbuda
--- Space

1. Bosnia and Herzegovina
--- Space

2. Brunei Darussalam
--- Space

3. Burkina Faso
--- Space

4. Cabo Verde
--- Space

5. Cayman Islands
--- Space

6. Central African Republic
--- Space

7. Congo, Democratic Republic of
--- Comma

8. Costa Rica
--- Space

9. Czech Republic
--- Space

10. Côte d'Ivoire
--- Space

11. Dominican Republic
--- Space

12. El Salvador
--- Space

13. Equatorial Guinea
--- Space

14. Ethiopia PDR
--- Space

15. French Guiana
--- Space

16. French Polynesia
--- Space

17. Guinea-Bissau
--- Hyphen

18. Iran, Islamic Republic of
--- Comma

19. Korea, Democratic People's Republic of
--- Comma

20. Korea, Republic of
--- Comma

21. Lao People's Democratic Republic
--- Space

22. Libyan Arab Jamahiriya
--- Space

23. Macedonia TFYR
--- Space

24. New Zealand
--- Space

25. Papua New Guinea
--- Space

26. Russian Federation
--- Space

27. Saint Lucia
--- Space

28. Sao Tome and Principe
--- Space

29. Saudi Arabia
--- Space

30. Serbia and Montenegro
--- Space

31. Sierra Leone
--- Space

32. South Africa
--- Space

33. Sri Lanka
--- Space

34. Sudan (former)
--- Space

35. Syrian Arab Republic
--- Space

36. Tanzania, United Republic of
--- Comma

37. Timor-Leste
--- Hyphen

38. Trinidad and Tobago
--- Space

39. United Arab Emirates
--- Space

40. United Kingdom
--- Space

41. United States of America
--- Space

42. Venezuela, Bolivarian Republic of
--- Comma

43. Viet Nam
--- Space

44. Yugoslav SFR
--- Space

In [12]:
# Countries that have no obvious issues.
print(f"\n\nClear Countries: {len(clear)}\n---------------------\nCountry\n-------\n")
for name in clear:
    print(name)

Clear Countries: 141
---------------------
Country
-------

Afghanistan
Albania
Algeria
Angola
Argentina
Armenia
Aruba
Australia
Austria
Azerbaijan
Bahamas
Bahrain
Bangladesh
Barbados
Belarus
Belgium
Benin
Bermuda
Bhutan
Bolivia
Botswana
Brazil
Bulgaria
Burundi
Cambodia
Cameroon
Canada
Chad
Chile
China
Colombia
Comoros
Congo
Croatia
Cuba
Cyprus
Czechoslovakia
Denmark
Djibouti
Dominica
Ecuador
Egypt
Eritrea
Estonia
Eswatini
Ethiopia
Fiji
Finland
France
Gabon
Gambia
Georgia
Germany
Ghana
Greece
Grenada
Guadeloupe
Guatemala
Guinea
Guyana
Haiti
Honduras
Hungary
India
Indonesia
Iraq
Ireland
Israel
Italy
Jamaica
Japan
Jordan
Kazakhstan
Kenya
Kuwait
Kyrgyzstan
Latvia
Lebanon
Lesotho
Liberia
Lithuania
Luxembourg
Madagascar
Malawi
Malaysia
Mali
Malta
Martinique
Mauritania
Mauritius
Mexico
Moldova
Mongolia
Montenegro
Morocco
Mozambique
Myanmar
Nepal
Netherlands
Nicaragua
Niger
Nigeria
Norway
Oman
Pakistan
Panama
Paraguay
Peru
Philippines
Poland
Portugal
Qatar
Romania
Rwanda
Réunion
Samoa
Senegal
Serbia
Singapore
Slovakia
Slovenia
Somalia
Spain
Suriname
Sweden
Switzerland
Tajikistan
Thailand
Togo
Tonga
Tunisia
Turkey
Turkmenistan
USSR
Uganda
Ukraine
Uruguay
Uzbekistan
Yemen
Zambia
Zimbabwe

In [16]:
# Current final output.
combined_years

          country  year        carbon
0     Afghanistan  1990  0.000000e+00
1     Afghanistan  1990  0.000000e+00
2     Afghanistan  1990  0.000000e+00
3     Afghanistan  1990  0.000000e+00
4     Afghanistan  1990  1.183413e-01
...           ...   ...           ...
4115        China  2010  0.000000e+00
4116        China  2010  2.322443e+00
4117        China  2010  3.229172e+09
4118        China  2010  2.367012e+00
4119        China  2010  3.291140e+09

[4120 rows x 3 columns]

# Be

data_1 = pd.read_excel("2020_statistical_annex_all (1).xlsx",sheet_name="Table 2",skiprows=[0,1,2,3,5,72,126],skipfooter=43)
data_1
pd.melt(data_1,id_vars='Country',value_vars=['1990','2000','2010'])